<div class="fullscreen background" style="background-color:white" data-img-width="1600" data-img-height="1064">
	<div class="content-a">
		<div class="content-b">
			<div class="search">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<div class="content-a">
                		   <!-- <div class="content-b">
									Placeholder Text
								</div> -->
							</div>
							<div class="form-section">
								<div class="row">
									<form role="form">
										<div class="col-md-4">
											<div class="form-group">
												<label class="sr-only" for="location">Location</label>
												<input type="email" class="form-control" id="location" placeholder="Choose Your Destination">
											</div>
										</div>
										<div class="col-md-2">
											<div class="form-group">
												<label class="sr-only" for="checkin">Check in</label>
												<div class="input-group">
													<input type="text" data-provide='datepicker' class="form-control" id="checkout" placeholder="Check in" >
													<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
												</div>
											</div>
										</div>
										<div class="col-md-2">
											<div class="form-group">
												<label class="sr-only" for="checkout">Check out</label>
												<div class="input-group">
													<input type="text" data-provide='datepicker' class="form-control" id="checkout" placeholder="Check out" >
													<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
												</div>
											</div>
										</div>
										<div class="col-md-2">
											<button type="submit" class="btn btn-default btn-primary">Search</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
